#Valeurs à adapter : user.name, user.email, core.excludesfile, alias.standup et les chemins vers les outils...
[user]
	name = Ton Nom
	email = ton_mail@valtech.fr
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = C:/Program Files (x86)/p4merge/p4merge.exe
	cmd = \"C:/Program Files (x86)/p4merge/p4merge.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[diff]
	guitool = p4merge
[difftool "p4merge"]
	path = C:/Program Files (x86)/p4merge/p4merge.exe
	cmd = \"C:/Program Files (x86)/p4merge/p4merge.exe\" \"$LOCAL\" \"$REMOTE\"
[core]
	autocrlf = false
	excludesfile = C:/Users/TON.LOGIN.WINDOWS/.gitignore_global
	editor = notepad++ -multiInst -notabbar
	ignorecase = true
[push]
	default = upstream
[i18n]
	filesEncoding = utf-8
[alias]
	ci = commit
	standup = log --since='3 days' --date=short --pretty=format:'%Cgreen%cd%Creset - %s%Creset' --abbrev-commit --author TON.LOGIN.TFS
	tfsrebase = "!sh -c \"git tfs fetch && git stash save && git rebase tfs/default && git stash pop\""
	tfscommit = "!sh -c \"git tfs fetch && git stash save && git rebase tfs/default && git tfs rcheckin && git stash pop\""
	tfsrebasebranch = "!sh -c \"git tfs fetch -i $1 && git stash save && git rebase tfs/$1 && git stash pop\""
	tfscommitbranch = "!sh -c \"git tfs fetch -i $1 && git stash save && git rebase tfs/$1 && git tfs -i $1 rcheckin && git stash pop\""

